# Virtualenvs
.venv

# Environment configurations
.env
.autoenv*

.DS_Store
.directory

# Editors
.vscode
.vscode/*
/.idea
.mypy_cache

# Statics
/static
/media
*.bmp
*.bak
*.bak.gz
*.bak.zip


# Python bytecode
*.pyc

# Django
django.log
migrations
!migrations/__init__.py

# SQLite3
*.sqlite3


